<form>

  <div class="form-group">
    <label> Name</label>
    <input type="text"
            class="form-control" name="drivername" [(ngModel)]="driverobj.name" />
  </div>

  <div class="form-group">
    <label>idnumber</label>
    <input type="text"
            class="form-control" name="idnumber" [(ngModel)]="driverobj.idnumber" />
  </div>

  <div class="form-group">
    <label>telnumber</label>
    <input type="text" class="form-control" name="telnumber" [(ngModel)]="driverobj.telnumber" />
  </div>

  <div class="form-group">
    <label>empnumber</label>
    <input type="text" class="form-control" name="empnumber" [(ngModel)]="driverobj.empnumber" />
  </div>
  
  <button type="button" name="Save"> Save</button>
</form>


